@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root{
    --oak-brown:#40050A;
    --off-white:#907A68;
    --off-white-alpha:#907A6800;
    --dark-beige:#646058;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-image: url(images/red_black_maroon.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;
}
.display-panel{
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 500px;
    background: linear-gradient(120deg, var(--oak-brown), var(--off-white));
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    border: 3px solid #111;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: var(--off-white);
    color: var(--oak-brown);
    padding: 4px 12px;
    height: 50px;
    font-size: 18px;
    border-radius: 18px;
    flex: 1;
    margin-right: 15px;
    font-size: 18px;
    border: 2px solid #111;
}
.search input::placeholder{
    font-size: 18px;
    color: var(--oak-brown);
}
.search button{
    border: 0;
    outline: 0;
    background: var(--off-white-alpha);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 30px;
}
.weather-icon{
    width: 170px;
    margin-top: 70px;
}
.weather h1{
    font-size: 70px;
    font-weight: 500;
}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -8px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 70px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 55px;
    margin-right: 15px;
}
.humidity, .wind{
    font-size: 25px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 15px;
    font-size: 15px;
    margin-top: 12px;
    color: #fff;
    display: none;
}
footer {
    width: 900px;
    max-width: 500px;
    background: linear-gradient(120deg, var(--oak-brown), var(--off-white));
    color: var(--off-white);
    margin: 40px auto;
    padding: 7px 20px;
    border: 2px solid #111;
    border-radius: 20px;
}
.heading h1{
    color: var(--off-white);
    text-align: center;
    text-decoration: underline;
    margin-top: 50px;
    padding: 0px 35px;
}
